<main id="root"></main>
<% if logged_in? %>
  <script type="text/javascript">
      window.currentUser = <%= render("api/users/user.json.jbuilder",
        user: current_user).html_safe %>
  </script>
<% end %>
<script type="text/javascript">
  window.images = ({
    xIcon: "<%= asset_path('close-button.svg')%>",
    notification: "<%= asset_path('bell.svg')%>",
    more: "<%= asset_path('ellipsis.svg')%>",
    tempLogo: "<%= asset_path('soundcloud-logo.png')%>",
  })
</script>