<main id="root"></main>
<% if logged_in? %>
  <script type="text/javascript">
      window.currentUser = <%= render("api/users/user.json.jbuilder",
        user: current_user).html_safe %>
  </script>
<% end %>
<script type="text/javascript">
  window.images = ({
    xIcon: "<%= asset_path('close.svg')%>",
    defaultProfile: "<%= asset_path('default_profile.png')%>",
    defaultSong: "<%= asset_path('default_album.jpg')%>",
    tempLogo: "<%= asset_path('logo.svg')%>",
    more: "<%= asset_path('more.svg')%>",
    pause: "<%= asset_path('pause.svg')%>",
    play: "<%= asset_path('play.svg')%>",
    next: "<%= asset_path('next.svg')%>",
    loop: "<%= asset_path('loop.svg')%>",
    shuffle: "<%= asset_path('shuffle.svg')%>",
    volume: "<%= asset_path('volume.svg')%>",
    playIcon: "<%= asset_path('playIcon.svg')%>"
  }); 
</script>