<!DOCTYPE html>
<html>
  <head>
    <title>SoundCrowd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag 'application' %>
    <link href="https://a-v2.sndcdn.com/assets/images/sc-icons/favicon-2cadd14b.ico" rel="icon">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
